BRAIN_API_KEY=
BRAIN_BASE_URL=
BRAIN_MODEL=
MEMORY_MANAGER_API_KEY=
MEMORY_MANAGER_BASE_URL=
MEMORY_MANAGER_MODEL=
# 网络检索 API
WEB_SEARCH_PROVIDER=serper
SERPER_API_KEY=
SERPER_SEARCH_BASE_URL=https://google.serper.dev/search
SERPER_PLACES_BASE_URL=https://google.serper.dev/places
# baidu地图 API，用于国内区域的正逆地理编码及POI检索
BAIDU_MAPS_API_KEY=
# Google 地图 API
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_URL_SIGNING_SECRET=
# LocationIQ API, 用于国外的区域的正逆地理编码，每月150000，每天5000次请求限制
LOCATIONIQ_KEY=
FORWARD_GEOCODING_URL=https://us1.locationiq.com/v1/search
REVERSE_GEOCODING_URL=https://us1.locationiq.com/v1/reverse

LOG_LEVEL=INFO
